@using TaskManagerWeb.Models
@using TaskManager.DataAccess.Utility
@model IEnumerable<TeamVM>

<div class="card shadow border-0">
    <div class="card-header bg-primary text-light ml-0 py-4 text-center">
        <div class="row px-4">
            <div class="col-6">
                <h5 class="pt-2 text-white ">
                    Teams
                </h5>
            </div>
        </div>
    </div>
    <div class="card-body my-4">
        <div class="row mb-3 pb-3">
            <div class="col-md-10 offset-md-1">
                @foreach (var item in Model)
                {
                    <div class="row border-bottom pb-3">
                        <div class="col-12 col-lg-6 pt-md-3">
                            <h5 class="text-uppercase text-secondary"><strong>@item.Team.Name</strong></h5>
                            <p><small>@Html.Raw(item.Team.Name)</small></p>
                        </div>

                        <div class="col-12 col-lg-6 pt-md-3">
                            @if (item.Team.Users != null)
                            {
                                <div class="col-6">
                                    <ul>Users</ul>
                                    @foreach (var user in item.Team.Users)
                                    {
                                        <li>@user.Name</li>
                                    }
                                </div>
                            }
                            else
                            {
                                <p><small>No users available</small></p>
                            }
                        </div>

                        <div class="col-12 pt-md-3">
                            <div class="row">
                                @if (item.TaskItems != null)
                                {
                                    foreach (var t in item.TaskItems)
                                    {
                                        var taskClass = t.Priority.Name.ToLower() switch
                                        {
                                            "low" => "bg-success",
                                            "medium" => "bg-warning",
                                            _ => "bg-danger"
                                        };

                                        <div class="col-12 col-lg-6 pt-md-3 @taskClass p-2 mb-2">
                                            <h5 class="text-uppercase text-secondary"><strong>@t.Title</strong></h5>
                                            <p><small>@Html.Raw(t.Status.Name)</small></p>  
                                            <p><small>@Html.Raw(t.Priority.Name)</small></p>
                                            <div class="col-12">
                                                @if (User.IsInRole(SD.Role_Admin))
                                                {
                                                    <a asp-area="Admin" asp-action="Upsert" asp-controller="TaskItem" asp-route-teamId="@item.Team.Id" asp-route-id="@t.Id" class="btn btn-primary border-0 bg-gradient w-100 py-2">Update</a>
                                                    <a asp-area="Admin" asp-action="Index" asp-controller="History" asp-route-id="@t.Id" class="btn btn-dark border-0 bg-gradient w-100 py-2">History</a>
                                                    <a asp-area="Admin" asp-controller="Comment" asp-action="Upsert" asp-route-taskItemId="@t.Id">Add comment</a>
                                                }else{
                                                <a asp-action="Upsert" asp-controller="TaskItem" asp-route-teamId="@item.Team.Id" asp-route-id="@t.Id" class="btn btn-primary border-0 bg-gradient w-100 py-2">Update</a>
                                                }
                                                
                                            </div>



                                            @if (t.Comments != null)
                                            {
                                                <div class="mt-2">
                                                    <h6>Comments:</h6>
                                                    @foreach (var comment in t.Comments)
                                                    {
                                                        <div>
                                                            <strong>@comment.AppUser.Name:</strong>
                                                            <small>@Html.Raw(comment.Description)</small>
                                                        </div>
                                                    }
                                                </div>
                                            }
                                        </div>
                                        
                                    }
                                }
                            </div>
                        </div>
                        @if (User.IsInRole(SD.Role_Admin))
                        {
                            <div class="row">
                                <div class="col-4">
                                    <a asp-area="Admin" asp-action="Upsert" asp-controller="TaskItem" asp-route-teamId="@item.Team.Id" class="btn btn-info border-0 bg-gradient w-100 py-2">Add Task</a>
                                </div>
                                <div class="col-4">
                                    <a asp-area="Admin" asp-action="Upsert" asp-controller="Team" asp-route-id="@item.Team.Id" class="btn btn-warning border-0 bg-gradient w-100 py-2">Update</a>
                                </div>

                                <div class="col-4">
                                    <a data-id="@item.Team.Id" class="delete btn btn-danger border-0 bg-gradient w-100 py-2">Delete</a>
                                </div>
                                
                            </div>
                        }
                        
                    </div>
                }
            </div>
        </div>
    </div>

    @section Scripts {
        <script>
            $(document).on("click", ".delete", function (e) {
                e.preventDefault();

                const teamId = $(this).data("id");

                Swal.fire({
                    title: "Are you sure?",
                    text: "You won't be able to revert this!",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Yes, delete it!"
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = '@Url.Action("Delete", "Team")' + '?id=' + teamId;
                    }
                });
            });
        </script>
    }


    
