@using TaskManagerWeb.Models
@model ToDoVM

<div class="card shadow border-0">
    <div class="card-header bg-primary bg-gradient text-light ml-0 py-4">
        <div class="row px-4">
            <div class="col-6">
                <h5 class="pt-2 text-white">
                    History
                </h5>
            </div>

        </div>
    </div>
    <div class="card-body my-4">
        <div class="row">
        </div>
        <div class="row mb-3 pb-3">
            @*             <div class="col-md-2 offset-md-1">
                <a asp-area="user" asp-controller="Home" asp-action="Index" class="btn btn-outline-primary text-uppercase mb-5 btn-sm"><small>See tasks</small></a>
            </div> *@
            <div class="col-md-10 offset-md-1">


                <div class="row border-bottom pb-3">

                    <div class="col-12 col-lg-6 pt-md-3">
                        <h5 class="text-uppercase text-secondary"><strong>Title</strong></h5>
                        <p><small>@Html.Raw(Model.TaskToDo.Title)</small></p>
                    </div>
                    <div class="col-12 col-lg-6 pt-md-3">
                        <h5 class="text-uppercase text-secondary"><strong>Description</strong></h5>
                        <p><small>@Html.Raw(Model.TaskToDo.Description)</small></p>
                    </div>
                    <div class="col-12 col-lg-6 pt-md-3">
                        <h5 class="text-uppercase text-secondary"><strong>Status</strong></h5>
                        <p><small>@Html.Raw(Model.TaskToDo.Status.Name.ToString())</small></p>
                    </div>
                </div>


            </div>
        </div>
        <div class="card-footer bg-white border-0">
            <div class="row">
                <div class="col-md-12">
                    @if (Model.TaskToDo.History != null && Model.TaskToDo.History.Any(item => item.TaskItemId == Model.TaskToDo.Id))
                    {
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped w-100">
                                <thead>
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">To state</th>
                                        <th scope="col">From state</th>
                                        <th scope="col">Data</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.TaskToDo.History.Where(item => item.TaskItemId == Model.TaskToDo.Id))
                                    {
                                        <tr>
                                            <td>@Html.Raw(item.AppUser.Name)</td>
                                            <td>@Html.Raw(item.FromStatus)</td>
                                            <td>@Html.Raw(item.ToStatus)</td>
                                            <td>@Html.Raw(item.ChangeDate.ToString("g"))</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                    else
                    {
                        <p>No history available</p>
                    }
                </div>
            </div>
        </div>

    </div>



